fastapi
uvicorn[standard]
python-multipart
langchain
langchain-core
langchain-community
langgraph
pydantic
httpx
groq
duckduckgo-search
llama-cloud
llama-index-core
llama-index
python-dotenv
sse-starlette
requests
sentence-transformers
chromadb
